
.axis--y line,
.axis--x line {
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 0.9em;
  fill: silver;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke-width: 2px;
}

.focus text {
  font-size: 0.85em;
  fill: silver;
}

.focus line {
  stroke: white;
  shape-rendering: crispEdges;
  stroke-dasharray: 2,2;
}

.layer path.line {
  fill: none;
  stroke-width: 1.4px;
}

.layer path.area {
  opacity: 0.5;
}

.nett-line {
  fill: none;
  stroke: green;
}