/*
 * _input.scss
 */

input {
  font-family: 'Montserrat';
  font-size: 1.35em;
  cursor: default;
  width: 80%;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px lightgray;
}

.a-parameter-reset {
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  right: 0px;
  display: none;
}

.a-parameter-modified {
  display: inline;
}

.a-parameter-reset circle {
  fill: gray;
}

.a-parameter-reset:hover circle {
  fill: darkgray;
}

.a-parameter-reset path {
  fill: white;
}
