
@import 'slider';
@import 'input';

.a-parameter {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  height: 100px;
}

.a-question-label:hover .a-parameter-label-tip,
.a-parameter-label:hover .a-parameter-label-tip {
  display: inline;
}

.a-parameter-input,
.a-parameter-label,
.a-parameter-sublabel {
  position: absolute;
  width: 20%;
  min-width: 160px;
}

.a-parameter-slider {
  position: absolute;
  right: 0;
  bottom: 0;
}

.a-parameter-input {
  bottom: 53px;
}

.a-parameter-label {
  color: $gray-light;
  bottom: 28px;
}

.a-parameter-sublabel {
  font-size: 0.75em;
  color: $gray-lighter;
  bottom: 10px;
}

.a-parameter input:disabled {
  opacity: 1;
}

.a-parameter input:focus {
  outline: none;
  border-bottom: solid 1px $primary-color;
}

.a-parameter-label-tip {
  font-size: 0.8em;
  bottom: -35px;
  position: absolute;
  background-color: white; 
  background: rgba(200, 200, 200, 0.5);
  padding: 5px;
  display: none;
  width: 200px;
  z-index: 100;
}

.a-parameter-help {
  display: inline-block;
  color: white;
  background: $gray-lightest;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  text-align: center;
  font-size: 9px;
  cursor: pointer;
}

.hidden {
  display: none;
}