
.a-section {
  margin-bottom: 4em;
}

.a-section-title {
  font-size: 1.7em;
  line-height: 2.0em;
/*  font-weight: 700;*/
/*  letter-spacing: 1.2px;*/
/*  text-transform: uppercase;*/
}

.a-section-content {
  line-height: 1.7em;
}


.a-section-result {
/*  line-height: 1.5em;*/
  font-size: 0.9em;
}