
.a-section {
  margin-bottom: 4em;
}

.a-section-title {
  font-size: 1.7em;
  line-height: 2.0em;
}

.a-section-content {
  line-height: 1.7em;
}

.a-section-result {
  font-size: 0.8em;
}

.disclaimer {
  font-size: 0.7em;
  margin: 0 0.75rem;
  text-transform: uppercase;
  color: darkgray;
}

h6 {
  margin-top: 1.8em;
}
