/*
 * _slider.scss
 */

.axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: none;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #eee;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: white;
  stroke: black;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.slider text {
  font-size: 0.7em;
  fill: darkgray;
}