
$primary-color: #706677;
$secondary-color: #cec6b9;
$gray-dark: #333;
$gray-light: #777;
$gray-lighter: #999;
$gray-lightest: #ccc;

$annuity: #7bccc4;
$linear: #2b8cbe;
$amortization: $primary-color;
$interest: $secondary-color;
