// style.scss

@import 'variables';
@import 'mixins';
@import 'parameter';
@import 'chart';
@import 'table';
@import 'section';
@import 'footer';

/*font-family: 'Montserrat', sans-serif;*/
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: darkslategray;
  margin-top: 60px;
  margin-bottom: 60px;
}

@include generate-elements("annuity", $annuity);
@include generate-elements("linear", $linear);
@include generate-elements("amortization", $amortization);
@include generate-elements("interest", $interest);
@include generate-elements("nett", $nett);

.navbar-brand {
  text-transform: uppercase;
}

.jumbotron {
  background-color: $primary-color;
}

.top {
  top: 0;
  bottom: auto;
  padding: 1em;
  width: 100%;
  max-width: 600px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
